<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="performance.com.example.ndh.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="performance.com.example.ndh.myapplication.ItemListActivity"/>
        </activity>
        <activity android:name=".leak.singleInstance.SingleInstanceLeak"/>
        <activity android:name=".leak.innerclass.InnerClassLeak"/>
        <activity android:name=".OverDrawActivity"/>
        <activity android:name=".leak.handleleak.HandleLeak"/>
        <activity android:name=".strictmode.StrictModeActivity"/>
        <activity android:name=".OverDrawAcivityModify"/>
        <activity android:name="performance.com.example.ndh.mylibrary.sdk.MainLibClass"/>
    </application>

</manifest>